.mainContainer {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
}

.hamburger {
  display: none
}
.body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 2100px;
  margin: 0 auto;
}

.mintHome {
  display: flex;
    flex: 1;
    justify-content: center;
    margin: 25px 0 200px 0;
}
/*added by heyjan for the hero styling*/

.nav {
  background: white;
}
.mainContainer {
  background: repeating-linear-gradient(-45deg, 
  #ff9aa2, #ff9aa2 75px,
  #ffb7b2 0, #ffb7b2 150px,
  #ffdac1 0, #ffdac1 225px,
  #e2f0cb 0, #e2f0cb 300px,
  #b5ead7 0, #b5ead7 375px,
  #c7ceea 0, #c7ceea 450px
  );

  background-size: 200% 200%;
  animation: diagonal alternate 30s infinite;
  
}

.rainbow-container {
  background: #596678;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rainbow {
  width: 400px;
  height: 50%;
  background: white;
  border-radius: 4px;
  
  background-image: repeating-linear-gradient(to right,
  #c4e17f 0px, #c4e17f 50px,
  #f7fdca 50px, #f7fdca 100px,
  #fad071 100px, #fad071 150px,
  #f0766b 150px, #f0766b 200px,
  #db9dbe 200px, #db9dbe 250px,
  #c49cdf 250px, #c49cdf 300px,
  #6599e2 300px, #6599e2 350px,
  #61c2e4 350px, #61c2e4 400px);
  background-size: 100% 10px;
  background-repeat:no-repeat;
}

.modal {
  background-color: #fff;
  border-radius: 25px;
  padding: 2rem .5rem;
  width: 70%;
  margin: 0 auto 30px auto;
}
.hero {
  height: 30vh;

  display: block;
  min-height: 60vh;
  background-size: 200% 200%;
  
}
.discord {
  width: 33px;
  height: 33px;
  margin: 7px;
}
.discord svg {
  max-width: 100%;
  max-height: 100%;
}
.icon {
  width: 25px;
  height: 25px;
  margin: 7px;
}
.icon svg {
  max-width: 100%;
  max-height: 100%;
}
.colorActive {
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right,
  #ff9aa2 0,
#ffb7b2 20%,
#ffdac1 40%,
#e2f0cb 65%,
#b5ead7 80%,
#c7ceea  100%);
border-image-slice: 1;
}
@keyframes diagonal {
  0% {background-position: 0% 10%}
  100% {background-position: 100% 50%}
}

.herotext {
  position: absolute;
  top: 300px;
  right: 200px ;
  background: white;
  text-align: center;
  font-weight: 300;
  color: #333;
  font-size: 40px;
  padding: 40px;
  max-width: 50%;
  margin: 100px auto 0;
  /*box-shadow: 0 0 10px 10px rgba(0,0,0,0.125);*/
}

.herotext2 {
  position: absolute;
  top: 100px;
  right: 800px ;
  background: white;
  text-align: center;
  font-weight: 300;
  color: #333;
  font-size: 40px;
  padding: 35px;
  max-width: 50%;
  margin: 100px auto 0;
  /*box-shadow: 0 0 10px 10px rgba(0,0,0,0.125);*/
}




.main {
  min-height: 83vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color {
  width: 75px;
  height: 75px;
  border: 1px solid white;
}
.color svg {
  width: 100%;
  max-width: 100%;
}

.sync {
  margin: 0 auto 30px auto;
}
.sync svg {
  margin: 0 auto;
}
.toast {
  border: 0;
  margin: 0;

}
.footer {
  width: 100%;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 2rem;

}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.polls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 2100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.inner {
  border: 1px; border-style: solid; border-radius: 0.25rem; border-color: #eee;
  margin-bottom: 1rem; padding: 1.5rem;  width:500px; padding:2rem;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.75);
  padding: 20px;
  margin: 20px;
}

.poll img {
  display: block;
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 7px auto;
}

.heading {
  text-transform: uppercase;
  text-align: center;
}

.heading-note {
  color: #696969;
  font-size: 16px;
  text-align: center;
}

.error-container {
  margin-top: 40px;
  font-size: 24px;
}

.error {
  color: #c30000;
  text-align: center;
  font-weight: bold;
}

.mintButton {
  background-color: white;
  padding: 15px 50px;
  font-size: 20px;
}
.votes {
  margin-top: 10px;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  font-size: 32px;
}

@media(max-width: 575px){
  .votes {  
      font-size: 21px;
  }
}

.votes .up {
  flex: 1;
  width: 50%;
  font-weight: bold;
  color: green;
  text-decoration: none;
}


.votes .down {
  align-self: flex-end;
  flex: 1;
  width: 50%;
  text-align: right;
  color: #c30000;
  font-weight: bold;
  text-decoration: none;
}

.concave-blue {
  background: #0070f3;
  color: white;
}
.concave-hover {
  color: #093160
}

.chat-notification {
  display: flex;
  max-width: 24rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.chat-notification-logo-wrapper {
  flex-shrink: 0;
}
.chat-notification-logo {
  height: 3rem;
  width: 3rem;
}
.chat-notification-content {
  margin-left: 1.5rem;
  padding-top: 0.25rem;
}
.chat-notification-title {
  color: #1a202c;
  font-size: 1.25rem;
  line-height: 1.25;
}
.chat-notification-message {
  color: #718096;
  font-size: 1rem;
  line-height: 1.5;
}